body {
  background-color: #2c3e50;
  color: #ddd;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #4b6b7d;
  padding: 10px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 24px;
  color: #ecf0f1;
}

.state-container {
  text-align: center;
  margin-top: 20px;
}

.state-label {
  font-weight: bold;
  font-size: 18px;
  color: #bbb;
}

.state-value {
  display: inline-block;
  padding: 5px 10px;
  background-color: #34495e;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  color: #fff;
  border: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.button-on {
  background-color: #2ecc71;
}

.button-off {
  background-color: #e74c3c;
}

.button:hover {
  opacity: 0.8;
}

/* Slider container */
.slider-container {
  text-align: center;
  margin-top: 20px;
}

/* Slider input */
.slider-input {
  width: 80%;
  margin: 0 auto;
  display: block;
}

@media handheld and (max-width: 480px) {
  .title {
      font-size: 40px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin: 10px 0;
    padding: 14px 28px;
    font-size: 40px;
  }

  .state-label {
    font-size: 40px;
  }

  .state-value {
    padding: 4px 8px;
    font-size: 40px;
  }

  /* Slider container */
  .slider-container {
    margin-top: 10px;
  }

  /* Slider input */
  .slider-input {
    width: 100%;
  }
}

