<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IrrigaTOP</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div class="top-bar">
    <h1 class="title">IrrigaTOP</h1>
  </div>
  <form id="pump-form" action="/pump" method="POST">
    <div class="pump-select-container">
      <label for="pump-select">Selecione a bomba:</label>
      <div class="custom-dropdown" id="pump-select">
        <span class="selected-pump">Bomba 1</span>
        <ul class="dropdown-options">
          <div data-value="1" class="pump-option">Bomba 1</div>
          <div data-value="2" class="pump-option">Bomba 2</div>
        </ul>
      </div>
    </div>
    <input type="hidden" name="pump_id" id="pump_id">
  </form>
  <form method="POST">
    <div class="container">
      <div class="state-container">
        <span class="state-label">Status da bomba:</span>
        <span id="state-placeholder" class="state-value">
          {{ message }}
        </span>
      </div>
      <div class="button-container">
        <button type="submit" name="action" value="ON" class="button button-action button-on">ON</button>
        <button type="submit" name="action" value="OFF" class="button button-action button-off">OFF</button>
      </div>
      <div class="button-container">
        <button type="submit" name="action" value="PULSE" class="button button-action button-pulse">PULSE</button>
      </div>
    </div>
  </form>
  <form method="POST" action="/intensity" id="slider-form">
    <div class="slider-container">
      <input type="range" value="0" min="0" max="100" name="slider" id="range" oninput="handleSliderChange(this.value)">
      <input type="number" id="rangenumber" min="0" max="100" value="0">
    </div>
  </form>
  <script>
    // Slider functionality
    var sliderValue = 0;
    var timeout = null;

    var rangeInput = document.getElementById('range');
    var numberInput = document.getElementById('rangenumber');
    var sliderForm = document.getElementById('slider-form');

    function handleSliderChange(e) {
      sliderValue = e.target.value;
      numberInput.value = sliderValue;
      clearTimeout(timeout);
    }

    rangeInput.addEventListener('input', handleSliderChange);

    rangeInput.addEventListener('mouseup', function (e) {
      e.preventDefault(); // Prevent default form submission
      sendSliderValue(sliderValue);
    });

    rangeInput.addEventListener('touchend', function (e) {
      e.preventDefault(); // Prevent default form submission
      sendSliderValue(sliderValue);
    });

    numberInput.addEventListener('change', function (e) {
      sliderValue = e.target.value;
      rangeInput.value = sliderValue;
      sendSliderValue(sliderValue);
    });

    function sendSliderValue(value) {
      var formData = new FormData(sliderForm);

      var xhr = new XMLHttpRequest();
      xhr.open('POST', sliderForm.action);
      xhr.onload = function () {
        if (xhr.status === 200) {
          // Handle successful response
          var response = JSON.parse(xhr.responseText);
          document.getElementById('result').textContent = response.message;
        } else {
          // Handle error
          console.error('Request failed. Error code: ' + xhr.status);
        }
      };
      xhr.send(formData);
    }

    // Pump selection functionality
    const pumpDropdown = document.getElementById('pump-select');

    pumpDropdown.addEventListener('click', function() {
      console.log('Dropdown clicked!');
      this.classList.toggle('active');
    });

    pumpDropdown.querySelectorAll('.dropdown-options div').forEach(option => {
      option.addEventListener('click', function(event) {
        event.stopPropagation();
        console.log('Option clicked!');

        const selectedPumpText = this.textContent;
        pumpDropdown.querySelector('.selected-pump').textContent = selectedPumpText;

        pumpDropdown.classList.remove('active'); // Hide options

        const pumpIdInput = document.getElementById('pump_id');
        const pumpForm = document.getElementById('pump-form');
        pumpIdInput.value = this.dataset.value;

        // AJAX-based pump setting
        event.preventDefault(); // Prevent default form submission
        fetch('/pump', {
          method: 'POST',
          body: new FormData(pumpForm)
        })
        .then(response => response.json())  // Parse the JSON response
        .then(data => {
          // Handle successful response
          console.log('Pump ID set successfully:', data.message);  // Access the message
        })
        .catch(error => {
          // Handle errors
          console.error('Error setting pump ID:', error);
        });
      });
    });

    document.addEventListener('click', function(event) {
      if (!pumpDropdown.contains(event.target)) {
        console.log('Document clicked!');
        pumpDropdown.classList.remove('active');
      }
    });
  </script>

</body>

</html>
